<ion-view view-title="Order Details">
    <ion-content class="orderDetails">
        <div class="loader" ng-show="loading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
        <div ng-hide="loading" class="row responsive-sm">
            <div class="col">
                <h1 style="font-weight:bold;" class="main-header">Order Code: {{order.name}}</h1>
                
                <div style="overflow:hidden; margin-top:5px;">
                	<div style="float:left;">
                    	<p>Date: {{order.formattedDate}}</p>
                    </div>
                    <div style="float:right;">
                		<p>Status: {{order.status}}</p>
                    </div>
                </div>
                <div style="overflow:hidden; margin-top:5px;">
                	<div style="float:left;">
                    	<p>Amount: $ {{order.TotalAmount}}</p>
                    </div>
                </div>
                
                
                <ul class="list mainListLoop" style="margin:0;">
                    <li class="item" ng-repeat="orderVendors in order.OrderVendors">
                        <p class="vendorsName">{{orderVendors.Vendor.name}}</p>
                        <ul class="list subList">
                            <li ng-repeat="items in orderVendors.OrderVendorItems">{{items.productName}} - {{items.quantity}} {{items.measureunit}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
