<ion-view view-title="Markets">
    <ion-content>
        <div class="loader" ng-show="loading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
        <div ng-hide="loading" class="row responsive-sm">
            <div class="col">
               <!--  <h1 class="main-header icon ion-ios-location"> Delivery Address</h1>
                <p class="light-color">{{formattedAddress}}</p> -->
                <ion-list ng-show="dataAvailable" class="splChkBox">
                    <!-- <ion-checkbox ng-repeat="vendor in vendors" ng-change="toogleCheckBox(vendor)" ng-model="toogleValues"> -->
                    <ion-checkbox ng-repeat="market in markets" ng-click="toogleCheckBox($index, markets)" ng-model="market.checked">
                        <span>{{market.name}}</span>
                        <br/>
                        <p class="light-color">{{vendor.formattedaddress}}</p>
                    </ion-checkbox>
                </ion-list>
                <div class="nothing-to-show oopsDesign" ng-hide="dataAvailable">
                	<span class="bigOps">Oops!</span>
                    <p>We won't deliver on this area.</p>
                    <a href="#/address">
                    <i class="icon ion-reply"></i>
                    Change Address
                	</a>
                </div>
            </div>
        </div>
    </ion-content>
    <button class="flotedBtn icon ion-arrow-right-a" ng-click="goToProducts()"></button>
</ion-view>
