<!DOCTYPE html>
<html ng-app="store">
    <head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title> Fresh Carton </title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="Mon, 01 Jan 1900 00:00:00 GMT">

  		<link rel="stylesheet" href="/www/plugins/bootstrap/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

		<link rel="stylesheet" href="/www/css/template.min.css">
		<link rel="stylesheet" href="/www/css/skins/_all-skins.min.css">
		<!-- jQuery 2.2.3 -->
		<script src="/www/plugins/jQuery/jquery-2.2.3.min.js"></script>
		<script src="/www/plugins/angular/angular.js" type="text/javascript"></script>
        <script src="/www/plugins/angular-ui-router/release/angular-ui-router.js" type="text/javascript" ></script>
		<script src="/www/plugins/angular-cache/dist/angular-cache.js" type="text/javascript" ></script>
		<script src="/www/plugins/angular-aria/angular-aria.js" type="text/javascript" ></script>
		<script src="/www/plugins/angular-animate/angular-animate.js" type="text/javascript" ></script>
		<script type="text/javascript" src="/www/plugins/angular-md5/angular-md5.min.js"></script>
		<script type="text/javascript" src="/www/plugins/ng-file-upload/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="/www/plugins/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/www/plugins/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/www/plugins/angular-chart.js/dist/angular-chart.min.js"></script>
		<script type="text/javascript" src="/www/plugins/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
		<script src="/www/plugins/oclazyload/dist/ocLazyLoad.min.js" type="text/javascript"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    </head>
    <body ui-view class="{{viewclass}}"></body>
    <script type="text/javascript" src="/www/js/app.js"></script>
    <script type="text/javascript" src="/www/app.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="/www/plugins/bootstrap/js/bootstrap.min.js"></script>
</html>
