<ion-view view-title="Cart">>
    <ion-content class="firstPage">
        <div class="loader" ng-show="loading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
        <img class="logo" ng-hide="loading" src="img/logo.png">
        <form ng-hide="loading" name="addressInput" ng-submit="findVendos()" class="addressForm">
            <div class="col">
                <!--<input type="text" name="street" required ng-model="address.street" placeholder="Street">-->
                <input type="text" name="zip" required ng-model="address.zip" placeholder="Zipcode">
<!--                 <input type="text" name="state" required ng-model="address.state" placeholder="state">
 -->                <button class="submitBtn" ng-disabled=" addressInput.zip.$invalid" type="submit">FIND STORE</button>
                <button class="dashboardBtn" ng-show='logged' type="button" ng-click="openDashboard()">Dashboard</button>
            </div>
        </form>
    </ion-content>
    <div ng-hide="loading" class="fixarea">
        <button ng-hide='logged' ng-click="register()" class="fixareaBtn extradark">Sign up</button>
        <button ng-hide='logged' ng-click="login()" class="fixareaBtn">Login</button>
        <button ng-show='logged' ng-click="logout()" class="fixareaBtn logoutBtn">Logout</button>
    </div>
</ion-view>