<ion-modal-view class="pDetailS">
    <ion-header-bar class="bar bar-header mainHeader popupPageHeader">
        <h1 class="title">{{product.name}}</h1>
        <div class="buttons">
            <button class="clsBtn icon ion-close-round" ng-click="closeLogin()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="productDetails">
        <div class="productImg">
            <img ng-src="{{product.image}}">
            <h2>{{product.name}}</h2>
            <span>{{product.quantity}} {{product.model}}</span>
            <div class="Pprice">${{product.Inventories[0].unitprice}}/{{product.model}}</div>
        </div>
         <div class="row Pheader">
            <div class="col">
                <h3>Related</h3>
                <ion-spinner icon="spiral" ng-show="product.recom==undefined"></ion-spinner>
                <p ng-show="product.recom.length==0"> No Related Product Found </p>
                <div class="list" ng-repeat="r_product in product.recom">
                    <a class="item item-thumbnail-left">
                        <img ng-src="{{r_product.image}}">
                        <h2>{{r_product.name}}</h2>
                        <p>${{r_product.unitprice}}/{{r_product.model}}</p>
                    </a>
                </div>
            </div>
        </div>        
  </ion-content>
    <div class="fixarea">   
        <div class="pdtls">
            <div class="bnts">
                <button class="smlBtn icon ion-android-remove" ng-click="reducProductQuantity(product)"></button>
                <span class="quantity">{{product.quantity}} {{product.model}}</span>
                <button class="smlBtn icon ion-ios-plus-empty" ng-click="incProductQuantity(product)"></button>
            </div> 
            <button ng-click="addToCartFromPouUp(product)" class="totalpriceFix gradient">Add to Cart</button>
        </div>   
    </div>    
</ion-modal-view>

