<ion-content class="login-wrp">
    <div class="login">
        <div class="logo tp-prt">
			<img src="img/logo.png"  alt="logo">
        </div>
        <div class="btm-prt">
            <form ng-submit="doLogin(loginData)" class="log-frm">
                <span class="error" id="loginErrorMessage"></span>
                <span ng-if="!isValid" class="error" id="emailErrorMessage"></span>
                <label class=" item-input">
                    <span class="input-label"><i class="icon ion-person"></i></span>
                    <input type="email" name="username" ng-model="loginData.username" placeholder="Username">
                </label>
                <label class="item-input">
                    <span class="input-label"><i class="icon ion-locked"></i></span>
                    <input type="password" name="password" ng-model="loginData.password" placeholder="Password">
                </label>
                <span ng-if="!isValid" class="error" id="passwordErrorMessage"></span>
                <button class="button button-full log-submt">Login</button>
            </form>
        </div>
    </div>
</ion-content>


