<ion-view view-title="Delivery">
    <ion-content class="CartPage">
        <div class="sbHeader">
            Choose Delivery Slots
        </div>
        <div class="row responsive-sm dtTYm">
            <div class="col">
                <span class="lft icon ion-calendar">Delivery date</span>
                <a ng-click="openCalender()"><span id="availableDateSpan">{{availableDate}}</span></a>
            </div>
            <div class="col">
                <span class="lft icon ion-clock" style="margin-top:5px;">Delivery Time</span>
                <select ng-model="deliverySchedule"  name="deliveryTime" ng-change="changeTime(deliverySchedule)">
                    <option ng-repeat="time in avilableDateTime.times" value="{{time.scheduleTime}}">{{time.viewTime}}</option>
                </select>
            </div>
        </div> 
        <div class="sbHeader">
            Pick Delivery Address
        </div>
         <div class="row">
             <div class="col col-67 adrss" >
                <p><span>Address Type :</span> {{savedAddress.addressType}}</p>
                <p><span>Street :</span> {{savedAddress.street}}</p>
                <p><span>Apt :</span> {{savedAddress.apt}}</p>
                <p><span>City :</span> {{savedAddress.city}}</p>
                <p><span>State :</span> {{savedAddress.state}}</p>
                <p><span>Zip :</span> {{savedAddress.zip}}</p>
            </div>        
         </div>
<!--         <ion-list ng-show="1" class="splChkBox">

            <ion-checkbox ng-repeat="addr in addressbook" ng-change="toogleCheckBox(vendor)" ng-model="toogleValues">
                <span>{{addr.formattedaddress}}</span>
            </ion-checkbox>
        </ion-list>
 -->
        <div class="row">
            <!--
            <div class="col col-67 adrss">
                <h3>Address</h3>
                <p><span>Address Type :</span> {{savedAddress.addressType}}</p>
                <p><span>Street :</span> {{savedAddress.street}}</p>
                <p><span>Apt :</span> {{savedAddress.apt}}</p>
                <p><span>City :</span> {{savedAddress.city}}</p>
                <p><span>State :</span> {{savedAddress.state}}</p>
                <p><span>Zip :</span> {{savedAddress.zip}}</p>
            </div>
            -->
            <div class="col rbtn">
                <a ng-click ="deliveryAddressPopUp()" class="BuTn">
                    <i class="icon ion-ios-plus-empty"></i>
                    <span>New Address</span>
                </a>
            </div>
        </div>
    </ion-content>
    <button class="nextButton" ng-click="setDeliveryPref(deliverySchedule)" type="submit">Next</button>
    <div class="totalpriceFix gradient">{{cartAmount}}</div>
</ion-view>
