<ion-view view-title="Cart">
    <ion-content class="CartPage">
        <div class="loader" ng-show="loading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
        <div ng-hide="loading" class="list">
            <div ng-show="dataAvailable" ng-repeat="vendor in cartVendors" >
               <!-- <div class="vendrNm" style="margin-top">
                    <h1 class="main-header">{{vendor.name}}</h1>
                </div> -->
                <div class="sbHeader">
                    {{vendor.name}}
                </div>
                <div class="item item-thumbnail-left" ng-repeat="product in cartedProducts" ng-if="product.vendorDtails.id==vendor.id">
                    <img ng-src="{{product.image}}">
                    <h2>{{product.name}}</h2>
                    <p>${{product.Inventories[0].unitprice}} / {{product.model}}</p>
                    <!--<span class="item-note">{{product.quantity}} {{product.model}}</span>-->
                    <div>
                        <button class="smlBtn icon ion-android-remove-circle" ng-click="reducProductQuantity(product)"></button>
                        <span class="quantity">{{product.quantity}} </span>
                        <button class="smlBtn icon ion-ios-plus" ng-click="incProductQuantity(product)"></button>
                    </div>
                    <a style="line-height: 70px;" ng-click="removeItem(product)" class="cartLink ion ion-trash-a"></a>
                </div>
            </div>
            <div  class="nothing-to-show emptycart" ng-hide="dataAvailable">
                <span class="icon ion-android-cart"></span>
                <p>Currently your cart is empty.</p>
            </div>
        </div>
    </ion-content>
    <a class="nextButton" ng-hide="dataAvailable" href="#/app/products" >Previous</a>
    <a class="nextButton" ng-show="dataAvailable" ng-click="checkAndRedirect()" >Checkout</a>
    <div class="totalpriceFix gradient" ng-click="checkAndRedirect()">{{cartAmount}}</div>
</ion-view>
