<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-header mainHeader" delegate-handle="appNavigation">
            <ion-nav-back-button class="backBtn button icon ion-chevron-left" ng-hide="showBackButton()">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button icon ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="cartBtn button ion ion-android-cart" ng-hide="showCartButton()" ng-click="goToCart()"><span> {{cartCount}}</span></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="appSideMenu">
        <ion-content>
            <div class="sideMenuLogo">
                <img src="img/side-menu-logo.png">
            </div>
            <div class="adminWrap" ng-show='logged'>
                <div class="userimage"><span class="icon ion-person"></span></div>
                <div class="userDetails">
                    <p class="adminName">{{userEmail}}</p><!-- adminEmail-->
                </div>
            </div>
            <ion-list>
                <ion-item menu-close href="#/app/address" class="item item-icon-left">
                    <i class="icon ion-ios-search-strong"></i>
                    Find Store
                </ion-item>
                <ion-item ng-show='logged' menu-close href="#/app/dashboard" class="item item-icon-left">
                    <i class="icon ion-ios-speedometer"></i>
                    Dashboard
                </ion-item>
                <ion-item ng-show='logged' menu-close href="#/app/dashboard" class="item item-icon-left">
                    <i class="icon ion-ios-book"></i>
                    Address Book
                </ion-item>
                <ion-item ng-hide='logged' menu-close ng-click="login()" class="item item-icon-left">
                    <i class="icon ion-android-exit"></i>
                    Log in
                </ion-item>
                <ion-item ng-show='logged' menu-close ng-click="logout()"  class="item item-icon-left">
                    <i class="icon ion-log-out"></i>
                    Log Out
                </ion-item>
                <ion-item ng-hide='logged' menu-close ng-click="register()" class="item item-icon-left">
                    <i class="icon ion-clipboard"></i>
                    Register
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
