<ion-modal-view class="themeBg loginPage">
    <!--<ion-header-bar>
        <h1 class="title">Register</h1>
        <div class="buttons">
            
        </div>
    </ion-header-bar>-->
    <ion-content>
    <button class="clsBtn icon ion-close-round" ng-click="closeLogin()"></button>
    <div class="logoWrapper">
    	<img src="img/logo.png">
    </div>
        <form name="registerFrm" ng-submit="doRegister()">
<div class="errorMsgWrp" style="height:60px;">
    <span class="error" ng-if="registerFrm.username.$touched" ng-show="registerFrm.username.$error.required">Name required</span>
    <span class="error" ng-if="registerFrm.useremail.$touched" ng-show="registerFrm.useremail.$error.required">Email address required</span>
    <span class="error" ng-show="registerFrm.useremail.$error.email">Please enter a valid email address</span>
    <span class="error" ng-if="registerFrm.password.$touched"  ng-show="registerFrm.password.$error.required">Password required</span>
</div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label icon ion-ios-person"></span>
                    <input type="text" name="username" required ng-model="registerData.username" placeholder="Name">
                </label>
                <label class="item item-input">
                    <span class="input-label icon ion-ios-email"></span>
                    <input type="email" name="useremail" required ng-model="registerData.useremail" placeholder="Email">
                </label>
                <label class="item item-input">
                    <span class="input-label icon ion-android-lock"></span>
                    <input type="password" name="password" ng-model="registerData.password" required placeholder="Password">
                </label>
                
                <button class="submitBtn button button-block button-positive" ng-disabled=" registerFrm.username.$invalid || registerFrm.useremail.$invalid || registerFrm.password.$invalid" type="submit">Register</button>
                <a ng-click="openloginPopUp()" class="helpGuide">Have an account? <span>Login here</span></a>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
